.webcamCapture{
    position: relative;
}

.webcamCapture__button{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: white;
}

@media (max-width: 1050px){
    .webcamCapture__button{
        color: lightgray;
    }
}